:root {
  --primary-color: #181818;
  --secondary-color: #F1F9F6;
  --hover-color: #7e7a7a;
  --bold: 900; 
  --medium: 600;
  --thin: 400;
  --super-thin: 200;
}

html {
  margin: 0;
  padding: 0;
  font-family: Hack, monospace;
}

.light-theme {
  --primary-color: #F1F9F6;
  --secondary-color: rgb(30, 30, 30);
  --hover-color: #8a90e2;
}

a:hover {
  color: var(--hover-color);
}

body {
  margin: 0;
  padding: 0;
  font-weight: var(--bold);
  height: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
body a {
  text-decoration: none;
  color: var(--secondary-color);
}

body a svg:hover {
  fill: var(--hover-color);
}

body ul {
  list-style: none;
}

header {
  height: 6vh;
  padding: 1vh;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

header a {
  flex: 1;
}

header h1 {
  letter-spacing: 2px;
  font-size: 1.6em;
  font-weight: var(--medium);
}

header nav {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
}

header nav img {
  padding-left: 0.5vh;
  cursor: pointer;
}

.light-nav {
  filter: invert(92%) sepia(30%) saturate(2225%) hue-rotate(174deg) brightness(127%) contrast(94%);
}

header ul li {
  display: inline;
  padding: 2vh;
  font-size: 1em;
  font-weight: var(--thin);
}

.index .greet {
  font-size: 1.6em;
  margin-bottom: 5vh;
}
.index .profile {
  transition: ease-out;
  animation: enter 0.8s;
}

.index .profile h2 {
  padding: 0;
  margin: 0;
  font-size: 2.3em;
}

.index .profile p {
  font-weight: var(--thin);
  padding-top: 1.5vh;
  font-size: 1.2em;
  margin: 0;
}
.index .profile ul {
  margin: 0;
  margin-top: 2vh;
  padding: 0;
}
.index .profile ul li {
  padding: 2.2vh;
  padding-top: 0vh;
  display: inline-block;
  text-decoration: none;
}
.index .profile ul li a:hover {
  position: relative;
  top: -3px;
}
.index h1::after {
  content: "";
  border-right: 2px solid var(--secondary-color);
  animation: blink 0.7s infinite ease-in;
}
.index span {
  opacity: 1;
  transition-duration: 400;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}
.index .fade {
  opacity: 1;
}
.index article {
  transition: ease-out;
  animation: enter 0.8s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
  }
}

footer {
  width: 100%;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 1vh;
  padding-top: 1vh;
  text-align: center;
}

footer p {
  display: inline;
  font-weight: var(--super-thin);
  color: var(--secondary-color);

}
footer input {
  position: absolute;
  right: 5px;
}

svg {
  fill: var(--secondary-color);
}

@media screen and (max-width: 700px) {
  header {
    font-size: 0.7em;
  }
  .index .profile h2 {
    font-size: 1.2em;
  }

  .index .profile p {
    font-size: 0.7em;
  }

  .index .greet {
    font-size: 1em;
  }

  footer p {
    font-size: 0.5em;
  }

  svg {
    width: 70%;
  }

  .about-main p{
  font-size: 0.7em;
  }

  pre {
    font-size: 0.8em;
  }
}

.about-main {
  font-weight: var(--thin);
  font-size: 1.2em;
}

.dc-name {
  cursor: pointer;
}

pre {
  font-weight: var(--medium);
}

pre:hover {
  color: var(--hover-color);
}